docs/n8n-workflows/concierge-ia-aspiration-maisons-alfort.json
{
  "name": "Concierge IA – Aspiration Maisons-Alfort",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-manual",
      "name": "Déclencher",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://web:8000/api/concierge/scrape",
        "options": {}
      },
      "id": "http-scrape",
      "name": "Scrape Maisons-Alfort (Django)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "notesInFlow": true,
      "notes": "Docker LPPP : http://web:8000. En local (n8n hors Docker) : http://localhost:8000"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json;\nif (!body.pages || !Array.isArray(body.pages)) {\n  throw new Error('Scrape a échoué ou pages absent');\n}\nconst pages = body.pages;\nconst _scrapeSummary = {\n  status: body.status || 'ok',\n  pageCount: pages.length,\n  urls: pages.map(p => p && p.url).filter(Boolean),\n  errors: pages.filter(p => p && p.error).map(p => ({ url: p.url, error: p.error }))\n};\nreturn [{ json: { pages, _scrapeSummary } }];"
      },
      "id": "code-build-body",
      "name": "Préparer body save-content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300],
      "notesInFlow": true,
      "notes": "Sortie : pages (pour save-content) + _scrapeSummary (pour rapport final)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://web:8000/api/concierge/save-content",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "http-save",
      "name": "Save content (Django)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300],
      "notesInFlow": true,
      "notes": "Écrit data/flowise/maisons-alfort-contenu.txt (Django n'utilise que .pages)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://web:8000/api/concierge/push-to-flowise",
        "options": {}
      },
      "id": "http-push",
      "name": "Push to Flowise (Django)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 300],
      "notesInFlow": true,
      "notes": "Pousse le fichier vers Document Store (FLOWISE_DOCUMENT_STORE_ID). Retourne status, file, numAdded."
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "merge-scrape-flowise",
      "name": "Collecter scrape + Flowise",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1340, 300],
      "notesInFlow": true,
      "notes": "Fusionne sortie Préparer (scrape) et sortie Push (Flowise) pour un seul rapport"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst scrape = item._scrapeSummary || {};\nconst flowise = {\n  file: item.file,\n  numAdded: item.numAdded,\n  status: item.status\n};\nreturn [{ json: { run: 'ok', scrape, flowise } }];"
      },
      "id": "code-collect-report",
      "name": "Rapport run (scrape + Flowise)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 300],
      "notesInFlow": true,
      "notes": "Sortie finale : { run, scrape: { pageCount, urls, errors }, flowise: { file, numAdded } }"
    }
  ],
  "connections": {
    "Déclencher": {
      "main": [[{"node": "Scrape Maisons-Alfort (Django)", "type": "main", "index": 0}]]
    },
    "Scrape Maisons-Alfort (Django)": {
      "main": [[{"node": "Préparer body save-content", "type": "main", "index": 0}]]
    },
    "Préparer body save-content": {
      "main": [
        [{"node": "Save content (Django)", "type": "main", "index": 0}],
        [{"node": "Collecter scrape + Flowise", "type": "main", "index": 0}]
      ]
    },
    "Save content (Django)": {
      "main": [[{"node": "Push to Flowise (Django)", "type": "main", "index": 0}]]
    },
    "Push to Flowise (Django)": {
      "main": [[{"node": "Collecter scrape + Flowise", "type": "main", "index": 1}]]
    },
    "Collecter scrape + Flowise": {
      "main": [[{"node": "Rapport run (scrape + Flowise)", "type": "main", "index": 0}]]
    }
  },
  "meta": {"templateCredsSetupCompleted": true},
  "settings": {},
  "staticData": null,
  "tags": []
}
